.sellWithUs_page{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding:3rem;
}

.sellWithUs_page img{
    width: 40%;
    opacity: 0.7;
    margin-left: 5rem;
}

.sellWithUs_page .banner_area{
    width: 50%;
    height: 65vh;
    text-align: left;
    margin-left: 2rem;
    display:flex;
    flex-direction: column;

}
.sellWithUs_page .banner_area h3{
    font-size: 4.3rem;
    filter:contrast(1.75);
    color:#f9f6eee8;
    margin:0;
    margin-top: 10%;
}

.sellWithUs_page .banner_area button{
    width: 35%;
    height: 2.8rem;
    border:none;
    background-color: rgba(74, 20, 31, 0.79);
    color:rgba(255,255,255,0.9);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Lato';
    cursor:pointer;
    border-radius: 0.6rem;
    margin-top: 14.5%;
    filter:contrast(1);
    transition: 0.3s ease;
    display:flex;
    align-items: center;
    justify-content: center;
}

.sellWithUs_page .banner_area button:hover{
    color:#f9f6ee;
    transform: translateY(-2%);
    background-color: rgba(202, 43, 75, 0.783);
}

.sellWithUs_page .banner_area button:active{
    transform:scale(95%);
}